*{
    padding: 0;
    margin: 0;
}


.container1{
    width: 600px;
    height: 700px;
}

.container2{
    width: 500px;
    height: 700px;
}
.container3{
    width: 1000px;
    height: 850px;
}
.container4{
    width: 500px;
    height: 850px;
}
.hoving{
    transition: 0.1s;
    border: 2px solid rgba(0, 0, 0, 0);
    
}
.hoving:hover{
    background-color: transparent;
    color: red;
    border: 2px solid black;
}
body{
    width: 100vw;
    min-height: 100vh;
    background-color: beige;
    
    background-image: url(/pictures/panierbg.png);
    background-size: 100% 100%;
    
}
.comer{
    width: 25%;
}

.holllder{
    height: fit-content;
}

@media (max-width:1550px) {
    .container3{
        width: 80%;
        height: 30%;
        margin: auto;
    }
    .container4{
        width: 80%;
        height: 30%;
        margin: auto;
    }
    .flexxx1{
        flex-direction: column;
        width: 100vw;

    }
}
@media (max-width:1134px) {

    .flexxx{
        flex-direction: column;
        width: 100vw;

    }

    .container1 {
        width: 80%;
        height: 30%;
        margin: auto;
    }
   .container2{
        width: 80%;
        height: 30%;
        margin: auto;
    }
}
@media (max-width:800px) {
    .urmama{
        flex-direction: column;
        padding: auto;
        align-items: center;
    }
    
    .comer{
        width: 90%;
        text-align: center;
        margin: 10px 0 20px;
        
    }
    .totaler{
        border-bottom: 2px solid black;
        padding: 10px;
    }
}